/*criado por Camila Silva em 15/02/2022*/
/*css dos botões com link*/

.btn{
    background-color: #222;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
}

.btn:hover{
    color: #ffbb33;
}