/*Criado por Camila Silva em 21/02/2022*/
/*Estilizando projects.js*/

.project_container{
    padding: 2em;
    
}

.title_container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}
