/*Desenvolvido por Camila Silva em 15/03/2022*/
/*css of the task*/

.task_container{
    background-color: rgb(146, 165, 182);
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    align-items: center;
    
}

.task-title {
    cursor: pointer;
}

.buttons_container{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.remove_task_button, 
.see_task_details_buttons{
    background-color: rgb(146, 165, 182);
    border: none;
    font-size: 24px;
    color: rgb(0, 0, 0);
    margin: 0 5px;
}


